.both{

  border-radius: 25px;
  background-color: white;
  display: flex;
  width: 600px;
  height: 430px;
  margin: 180px auto;

}


.btn {
  background: #1a3d2f;
  background-image: -webkit-linear-gradient(top, #1a3d2f, #32755a);
  background-image: -moz-linear-gradient(top, #1a3d2f, #32755a);
  background-image: -ms-linear-gradient(top, #1a3d2f, #32755a);
  background-image: -o-linear-gradient(top, #1a3d2f, #32755a);
  background-image: linear-gradient(to bottom, #1a3d2f, #32755a);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 15px 40px 15px 40px;
  text-decoration: none;
  font-weight: bold;

  /* width:auto; */
  text-align: center;
  /* width:200px; */
  /* margin:33px; */
  margin-left: 50px;
  margin-top: 60px;



}

.btn:hover {
  background: #3cfc49;
  background-image: -webkit-linear-gradient(top, #3cfc49, #2d7353);
  background-image: -moz-linear-gradient(top, #3cfc49, #2d7353);
  background-image: -ms-linear-gradient(top, #3cfc49, #2d7353);
  background-image: -o-linear-gradient(top, #3cfc49, #2d7353);
  background-image: linear-gradient(to bottom, #3cfc49, #2d7353);
  text-decoration: none;
}

.cart {
  margin-top: 50px;
}




.content {
  padding-left: 35px;
  padding-top: 35px;
  padding-right: none;
  margin-bottom: 4px;

}

.first {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: bold;
  color: gray;
  letter-spacing: 1;
  font-size: 13px;
}

.heading {
  font-family: 'Fraunces', serif;
  line-height: 1;
  font-weight: bolder;

}

.img {
  /* float: left; */
  width: 100%;
  height: 100%;
  border-radius: 25px 0 0 25px;
}

.both > .left {
  width: 50%;
  /* height: 100%; */
}



.perfume {
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  color: gray;
  margin-top: 0px;
  /* font-weight: 500; */
}

.pri {
  position: relative;
  margin-bottom: 30px;
}

#price {
  color: #43836b;
  font-family: 'Fraunces', serif;
  display: inline;
  padding-left: 2px;
  font-weight: bold;
}

.both > .right {
  /* position: absolute; */
  /* right: 0px; */
  /* top: 0px; */
  /* width: 50%; */
  /* height: 100%; */
}

.striked {
  position: absolute;
  top: 10px;
  color: gray;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  font-weight: bold;
  font-size: 12;

}
